@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    --backgroud: #000000;
    --red: #C41616;
    --blue:#001F70;
    --gradient: linear-gradient(270deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
    --font : 'Titillium Web', sans-serif; color: white;
    
}
body{
    background-color: var(--gradient);
    font-size: 16px;
    font-family: var(--font);
}
.topo{
    width: 100%;
    height: 5em;
    background-color:var(--backgroud);
    
}
.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.meuslinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.content{
    width: 90%;
    max-width: 75em;
    height: 100%;
    /* background-color: antiquewhite; */
    margin: auto;
    /* background-color: #C41616; */
}
.content-maior{
    width: 95%;
    margin: auto;
    /* background-color: violet; */
    height: 100%;
    /* background-color: violet; */
}
.topo img{
    width: 100%;
    max-width: 21.18em;   
}
.menu{
    width: 95%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
}
.menu ul li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: var(--font);
    text-decoration: none;
    list-style-type: none;
}
.menu a:hover{
    text-shadow: -5px 0 10px white;
}
#bars{
    color: white;
    display: none;
}
.banner{
    height: 37.5em;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 37.5em;
    position: absolute;
    top: 0;
    /* background-color: blue; */
}
.banner-content{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    /* background-color: blueviolet; */
}

.banner-text{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-text h1{
    font-size: 5.62em;
    font-weight: bold;
}
.banner-text p{
    font-size: 1.77em;
}
.banner-text a{
    font-family:var(--font);
    font-size: 1.87em;
    text-transform: uppercase;
    background-color: var(--red);
    text-decoration: none;
    color: white;
    padding: 0.4em 2em;
    border-radius: 0.62em;
    margin-top: 2em; 
    transition: all 0.1s;
    cursor: pointer;
}  

.banner-text a:hover{
    box-shadow: 0 0 5px white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.games{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 7.56em;
}
.games ul{
    width: 100%;
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.games ul a {
    transition: all 0.5s;
    cursor: pointer;
}

.games ul a:hover img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.about{
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}
.about-angulation{
    height: 100%;
    display: flex;
    align-items: center;
}

.angulation{
    width: 100%;
    height: 24.125em;
    background-color:var(--backgroud);
    transform: skewY(-3deg);
}

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:absolute;
    top: 0;
    margin: auto;
}
.about-content img{
    width: 50%;
    height: 95%;
}
.content-text{
    color: #fff;
}
.content-text h1{
    font-size: 2.18em;
    margin-top: 2em;
}
.content-text p{
    font-family: var(--font);
    font-size: 1.25em;
    margin-top: 1em;
}
.ao-vivo{
    width: 100%;
    height: 7.5em;
    background-color: var(--backgroud);
}
.conteudo{
    width:100%;
    height: 4.62em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#confronto-1{
    width: 18.56em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.linha-vertical{
    border:  1px solid;
    color:white;
    max-height: 120px;
    height: 80%;
}
.confronto-2{
    width: 18.56em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.confronto-3{
    width: 18.56em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.conteudo p{
    font-size: 1.87em;
    text-transform: uppercase;
}
.bolder{
    font-weight:bold;
}
.bg-news{
    width: 100%;
    height: auto;
    background-color:#1E1C21;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.news{
    width: 70%;
    height: 90%;
    /* background-color: rgb(167, 167, 167); */
    margin-bottom: 40px;
}
.news h2, .next-games h2{
    color: #fff;
    font-size: 2.1875em;
}
.next-games{
    width: 25%;
    height: 90%;
    /* background-color: rgb(167, 167, 167); */
    
}
.content-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cardnews{
    width: 15em;
    height: 22.5em;
    background-image:linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    color: #fff;
    margin-bottom: 2em;
    box-shadow: 1px 1px 20px 4px #000000;
}
.cardnews img{
    width: 100%;

}
.cardnews h3{
    padding: 0.5em 0.6em;
}
.cardnews p{
    padding: 0em 0.6em;
}
.next-games-bg{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.4em 0;
background:linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
}
.next-games-match{
    width: 100%;
    height: 6.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    font-weight: 700;
    color: #fff;   
}
.teams{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.next-games-match div{
    display: flex;
    align-items: center;
}
.next-games-match img{
    max-width: 2.5em;
}
.next-games-match > p{
    margin-top: 1em;
}
.rodape{
    background-color: var(--backgroud);
    width: 100%;
    height: 12.125em;
}
.content-rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    justify-content: space-around;
}
.links ul a{
    color:white;
    text-decoration: none;
}
.content-rodape img{
    width: 20.43em;
    height: 1.31em;
}
.largura{
    width: 33%;
}
.siga-nos{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sociais h2{
    font-size: 0.87em;
}
.siga-nos h2{
    font-size: 1.5em;
}
.siga-nos img{
    width:auto;
    height: auto;
}
#email{
    width: 60%;
    font-size: 1.5em;
}
#botão{
    width: 3 0%;
    font-size: 1.5em;
    background-color: #8326EF;
    color: white;
}

@media screen and (max-Width:74.93em){
    body{
        font-size: 14px;
    }
    .banner-text h1{
    font-size:4.9em;
    }
    .games ul{
        flex-wrap: wrap;
    }
    .games{
        height: auto;
    }
    .content-text h1{
        margin-top: 1em;
    }
    .content-news{
        justify-content: space-around;
    }
    .games{
        position: relative;
    }
    
}
@media screen and (max-Width:62em){
    body{
        font-size: 14px;
    }
    .banner-text p{
        font-size: 1.6em;
    }
    .menu ul li a{
        font-size: 1.3em;
    }
    .banner-text h1{
        font-size: 4em;
    }
    .conteudo p{
        font-size: 1.3em;
    }
    .content-text p{
        font-size: 1.15em;
    }
    .news{
        width: 100%;
        margin-bottom: 0;
    }
    .next-games{
        width: 100%;
    }
    .next-games-bg{
        margin: auto;
    }
    .center{
        flex-wrap: wrap;
    }
    .news h2{
        text-align: center;
    }
    .next-games h2{
        text-align: center;
    }
    .next-games-bg{
        margin-bottom: 20px;
    }
    .content-rodape img{
        width: auto;
    }
    .siga-nos h2{
        display: none;
    }
    .next-games-bg p{
        font-size: 1.5em;
    }
    .next-games-match img{
        width: auto;
    }
    .next-games-match{
        padding-top: 0;
    }
    .next-games-match > p{
        margin-top: 0%;
    }
    .next-games-match img{
        max-width:none;
    }
    .games ul{
        justify-content: space-evenly;
    }
}
@media screen and (max-Width:48em){
    .topo img{
        width: 90%;
    }
    boody{
        font-size: 12px;
    }
    .banner-text h1{
        font-size: 3em;
        text-align: center;
    }
    .banner-text p {
        font-size: 1.2em;
    }
    .banner-text a{
        margin-top: 1em;
        padding: 0.2em 1em;
        font-size: 1.4em;  
    }
    .banner{
        /* height:auto; */
        position:inherit;
}
    .about img{
        display: none;
    }
    .content-text h1{
        text-align: center;
    }
    .confronto-3{
        display: none;
    }
    .games ul{
        justify-content: space-evenly;
    }
    #bars{
        display: flex;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
    }
    .meuslinks{
        height: 300px;
        display: flex;
        flex-direction: column;
        background-color:var(--backgroud);
        justify-content: space-between;
        position: absolute;
        top: 70px;
    }
    .content-maior{
        width: 95%;
    }
    .banner-content{
        justify-content: center;
    }
    .banner-text{
        height: auto;
        display: inline;
        text-align: center;
    }
    .banner-content {
        display: inline;
    }
    .banner-position{
        height: 600px;
        display: inline;
        top: 300px;
    }
    .banner-text a{
        margin-left: 200px;
    }
}