@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    --backgroud: #000000;
    --red: #C41616;
    --blue:#001F70;
    --gradient: linear-gradient(270deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
    --font : 'Titillium Web', sans-serif;
    
}
body{
    background-color: var(--gradient);
    font-size: 16px;
    font-family: var(--font);
}
.topo{
    width: 100%;
    height: 5em;
    background-color:var(--backgroud);
    
}
.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content{
    width: 100%;
    max-width: 75em;
    height: 100%;
    /* background-color: antiquewhite; */
    margin: auto;
    /* background-color: #C41616; */
}
.topo img{
    width: 100%;
    max-width: 21.18em;   
}
.menu{
    width: 95%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
}
.menu ul li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: var(--font);
    text-decoration: none;
    list-style-type: none;
}
.menu a:hover{
    text-shadow: -5px 0 10px white;
}
#bars{
    display: none;
}
.banner{
    height: 37.5em;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 37.5em;
    position: absolute;
    top: 0;
    /* background-color: blue; */
}
.banner-content{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    /* background-color: blueviolet; */
}

.banner-text{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-text h1{
    font-size: 5.62em;
    font-weight: bold;
}
.banner-text p{
    font-size: 1.77em;
}
.banner-text a{
    font-family:var(--font);
    font-size: 1.87em;
    text-transform: uppercase;
    background-color: var(--red);
    text-decoration: none;
    color: white;
    padding: 0.4em 2em;
    border-radius: 0.62em;
    margin-top: 2em; 
    transition: all 0.1s;
    cursor: pointer;
}  

.banner-text a:hover{
    box-shadow: 0 0 5px white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.games{
    background-color: black;
    height: 7.56em;
}
.games ul{
    width: 100%;
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.games ul a {
    transition: all 0.5s;
    cursor: pointer;
}

.games ul a:hover img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.about{
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}
.about-angulation{
    height: 100%;
    display: flex;
    align-items: center;
}

.angulation{
    width: 100%;
    height: 24.125em;
    background-color:var(--backgroud);
    transform: skewY(-3deg);
}

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:absolute;
    top: 0;
    margin: auto;
    left: 21.75em;
    /* background-color: aquamarine; */

}
.content-text{
    color: #fff;
}
.content-text h1{
    font-size: 2.18em;
    margin-top: 2em;
}
.content-text p{
    font-family: var(--font);
    font-size: 1.25em;
    margin-top: 1em;
}

@media screen and (max-Width:74.93px){

    
}
@media screen and (max-Width:61.19px){

    
}
@media screen and (max-Width:47.93px){
    
    
}
@media screen and (max-Width:36px){
    
}
